<h1>
  About the Author
</h1>
<p>
  My name is Lada and I'm a software developer.
  I have a passion for creating applications with Ruby on Rails.
  My GitHub project <a href="https://github.com/lada000/TestGuru.git">TestGuru</a>
  🖤
</p>
